.maincontente{
   
    width: 100%;
    height:630px;
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
  background-size: cover;
}


.box1{
   
    width: 49%;
    height: 630px;
    float: right;
}
.box2{
    
    width: 49%;
    height: 630px;
    float: right;
    padding-top: 10rem;
}

.box1>img{
    height: 859px;
    /* width: 80%; */
    padding: 150px;
    margin-top: -5rem;
}
 
.box2 h3 {
    font-size: revert;

}

.box2 p{
    color:white;
    text-align: center;
    margin-left: 40px;
    margin-top: 80px;
}
.box2>h1{
    text-align: left;

}

